<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Welcome!</title>
</head>

<body>
<div class="container">
    <div layout:fragment="content">

        <p id="description">
            Below you can find the events for
            <strong th:text="${currentUser.email}"></strong>.
            Once security is applied this will be the events for the currently logged in user.
        </p>

        <div th:replace="fragments/events :: events">&nbsp;</div>
    </div>
</div>
</body>
</html>