<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div id="modal-container" class="modal-container" style="display:none;">
    <section id="modal" class="modal">
        <header>
            <h1>My Modal</h1>
            <div id="close-modal" class="modal-close">
                <a href="#close">Close</a>
            </div>
        </header>
        <div id="modal-content" class="modal-content">
            <p>My modal content</p>
        </div>
    </section>
</div>
</body>
</html>