<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navi">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ifollowyou projects</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${navi} == 'home' ? 'active' : ''">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:class="${navi} == 'all' ? 'active' : ''">
                    <a href="#" th:href="@{/events/}">All Events</a>
                </li>
                <li th:class="${navi} == 'my' ? 'active' : ''">
                    <a href="#" th:href="@{/events/my}">My Events</a>
                </li>
                <li th:class="${navi} == 'form' ? 'active' : ''">
                    <a href="#" th:href="@{/events/form}">Create Event</a>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>