<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Welcome!</title>
</head>

<body>
<div class="container">
    <!-- /* Handle the flash message */-->
    <div layout:fragment="content">
        <p>Below you can find some highlights about myCalendar. Each chapter will have a slightly different summary depending on what will be done.</p>
        <ul>
            <li><a id="eventsLink" href="events/">All Events</a> - shows all events for all users. Once secured, this will only be viewable by administrators.
            </li>
            <li><a id="myEventsLink" href="events/my">My Events</a> - shows all events that user1@example.com is the owner or attendee. Once we apply security only a logged in user will be able to view this page. Additionally, the logged in user will be used rather than always using user1@example.com
            </li>
            <li><a id="createEventLink" href="events/form">Create Event</a> - will allow creating a new Event with user1@example.com as the owner. Once we add security, only a logged in user will be able to view this  always using user1@example.com.
            </li>
        </ul>
    </div>
</div>
</body>
</html>