<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div layout:fragment="content">

    </div>
</div>

<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>

</html>
